body, html {
  padding: 10px;
  font-family: Arial;
  font-size: 12px;
  color: #333;
  font-size: 16px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.kitty-id{
  font-weight:bold;
  display:block;
}
.form-container{
  margin-top:20px;
}
form{
  margin-bottom:10px;
}
form input{
  padding: 10px;
      border-radius: 5px;
      margin: 3px 3px 3px 0;
      font-size: 18px;
}
form input[type="submit"], form input[type="button"]{
  background-color: #5F6B75;
  color:white;
}
.loading {
  text-align: center;
  width: 320px;
  margin: 20px auto;
}

.warning {
  color: #666;
  padding: 10px 0;
}

.error {
  color: tomato;
  padding: 10px 0;
}
span{
  font-weight:bold;
}
p{
  margin-top: 0;
}
